<html>
    <head>
        <title>everultimate</title>
        <script type="text/javascript" src="/js/jquery-1.4.1.min.js"></script>
        <script type="text/javascript" src="/js/uua.js"></script>
        <script type="text/javascript" src="/js/everultimate.js"></script>
    </head>
    <body>
        <h1>everultimate</h1>
        <div id="mainmenu">
          <ul>
            <a class="linkbutton" href="/new">new</a>
            <a class="linkbutton" href="/rosters">rosters</a>
            <a class="linkbutton" href="/standings">standings</a>
          </ul>
        </div>
        <div id="pagecontent"></div>
        <div id="console"></div>
    </body>
</html>
